
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/bundles/bootstrap")
</head>
<body>
    <div> 
        <a href="/SignIn" class="btn">登录</a> &nbsp; 
        <a href="/SignUp" class="btn">创建账户</a>
    </div>
</body>
</html>
@Scripts.Render("~/bundles/jqueryBootstrap")