@model X.OA.Model.UserInfo
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPassword</title>
</head>
<body>
    <div>
        @using (Ajax.BeginForm("ResetPassword", "SignIn", new AjaxOptions { HttpMethod = "POST", OnSuccess = "resetPasswordCallback" }))
        {
            <table>
                <tr>
                    <td>用户名：</td>
                    @*<td><input type="text" value="" name="UName" /></td>*@
                    <td>@Html.TextBoxFor(u => u.UName)</td>
                </tr>
                <tr>
                    <td>邮箱：</td>
                    @*<td><input type="text" value="" name="UMail" /></td>*@
                    <td>@Html.TextBoxFor(u => u.Remark)</td>
                </tr>
                <tr>
                    <td><input type="submit" value="下一步" /></td>
                </tr>
            </table>
        }

        <img src="D:\Documents\image\migrate\QQ\1.jpg" alt="" />
    </div>
    <script>
        function resetPasswordCallback() {
            document.write("Success");
        }
    </script>
</body>
</html>
