<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <container>
    <register type="X.OA.IBLL.IUserInfoBLL, X.OA.IBLL"
              mapTo="X.OA.BLL.UserInfoBLL, X.OA.BLL" />
    <register type="X.OA.IBLL.IRoleInfoBLL, X.OA.IBLL"
              mapTo="X.OA.BLL.RoleInfoBLL, X.OA.BLL" />
    <register type="X.OA.IBLL.IActionInfoBLL, X.OA.IBLL"
              mapTo="X.OA.BLL.ActionInfoBLL, X.OA.BLL" />
    <register type="X.OA.IBLL.IR_UserInfo_ActionInfoBLL, X.OA.IBLL"
              mapTo="X.OA.BLL.R_UserInfo_ActionInfoBLL, X.OA.BLL" />
    <register type="X.OA.IBLL.IBookBLL, X.OA.IBLL"
              mapTo="X.OA.BLL.BookBLL, X.OA.BLL" />
    <register type="X.OA.IBLL.ISearchDetailBLL, X.OA.IBLL"
              mapTo="X.OA.BLL.SearchDetailBLL, X.OA.BLL" />
    <register type="X.OA.IBLL.IKeywordRankBLL, X.OA.IBLL"
              mapTo="X.OA.BLL.KeywordRankBLL, X.OA.BLL" />
    <register type="X.OA.IBLL.IWF_TempBLL, X.OA.IBLL"
              mapTo="X.OA.BLL.WF_TempBLL, X.OA.BLL" />
    <register type="X.OA.IBLL.IWF_InstanceBLL, X.OA.IBLL"
              mapTo="X.OA.BLL.WF_InstanceBLL, X.OA.BLL" />
    <register type="X.OA.IBLL.IWF_StepInfoBLL, X.OA.IBLL"
              mapTo="X.OA.BLL.WF_StepInfoBLL, X.OA.BLL" />
  </container>
</unity>