@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @using (Ajax.BeginForm("SignUp", "SignUp", new AjaxOptions { HttpMethod = "POST", OnSuccess = "onSuccess", OnFailure = "onFailure" }, new { @id = "signUpForm" }))
        {
            <label for="UName">用户名</label>
            <input type="text" name="UName" id="UName" />
            <br />
            <label for="UName">密码</label>
            <input type="password" name="UPwd" id="UPwd" />
            <br />
            <label for="UName">验证码</label>
            <input type="text" name="CAPTCHA" id="CAPTCHA" />
            <br />
            <img src="/CAPTCHA" data-src="/CAPTCHA?id=" id="imgCAPTCHA" />
            <br />
            <input type="submit" value="下一步"/><span id="callbackMsg"></span>
        }

    </div>
</body>
</html>
@Scripts.Render("~/bundles/jquery-", "~/bundles/unobtrusive-ajax")
@Scripts.Render("~/Scripts/SignUp/Index")
